/*字体大小*/

.f-s-12 {
  font-size: 12px;
}

.f-s-13 {
  font-size: 13px;
}

.f-s-14 {
  font-size: 14px;
}

.f-s-15 {
  font-size: 15px;
}

.f-s-16 {
  font-size: 16px;
}

.f-s-17 {
  font-size: 17px;
}

.f-s-18 {
  font-size: 18px;
}

.f-s-19 {
  font-size: 19px;
}

.f-s-20 {
  font-size: 20px;
}

.f-s-21 {
  font-size: 21px;
}

.f-s-22 {
  font-size: 22px;
}

.f-s-23 {
  font-size: 23px;
}

.f-s-24 {
  font-size: 24px;
}

.f-s-25 {
  font-size: 25px;
}

.f-s-26 {
  font-size: 26px;
}

.f-s-27 {
  font-size: 27px;
}

.f-s-28 {
  font-size: 28px;
}

.f-s-29 {
  font-size: 29px;
}

.f-s-30 {
  font-size: 30px;
}

.f-s-31 {
  font-size: 31px;
}

.f-s-32 {
  font-size: 32px;
}

.f-s-33 {
  font-size: 33px;
}

.f-s-34 {
  font-size: 34px;
}

.f-s-35 {
  font-size: 35px;
}

.f-s-36 {
  font-size: 36px;
}

.f-s-37 {
  font-size: 37px;
}

.f-s-38 {
  font-size: 38px;
}

.f-s-39 {
  font-size: 39px;
}

.f-s-40 {
  font-size: 40px;
}

.f-s-41 {
  font-size: 41px;
}

.f-s-42 {
  font-size: 42px;
}

.f-s-43 {
  font-size: 43px;
}

.f-s-44 {
  font-size: 44px;
}

.f-s-45 {
  font-size: 45px;
}

.f-s-46 {
  font-size: 46px;
}

.f-s-47 {
  font-size: 47px;
}

.f-s-48 {
  font-size: 48px;
}

.f-s-49 {
  font-size: 49px;
}

.f-s-50 {
  font-size: 50px;
}

.f-s-51 {
  font-size: 51px;
}

.f-s-52 {
  font-size: 52px;
}

.f-s-53 {
  font-size: 53px;
}

.f-s-54 {
  font-size: 54px;
}

.f-s-55 {
  font-size: 55px;
}

.f-s-56 {
  font-size: 56px;
}

.f-s-57 {
  font-size: 57px;
}

.f-s-58 {
  font-size: 58px;
}

.f-s-59 {
  font-size: 59px;
}

.f-s-60 {
  font-size: 60px;
}
